<ul>
    <a href="{{ '/' | prepend: site.baseurl }}"><li id="home" {% if "Startseite" == page.title %} class="current" {% endif %}>Startseite</li></a>
    <li id="chapter">Entwürfe:
        <ul>
            {% for subpage in site.pages %}
                {% if subpage.title and subpage.title != "Startseite" %}
                    <a href="{{ subpage.url | prepend: site.baseurl }}"><li {% if subpage.title == page.title %} class="current" {% endif %}>{{ subpage.title }}</li></a>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
</ul>
<a id="source" href="https://github.com/vivi90/bloodsync">Bearbeiten</a>
