body {
    display: flex;
    min-height: 92vh;
    padding: 2%;
}

nav {
    display: flex;
    flex-direction: column;
    padding: 1%;
}

nav > ul {
    flex-grow: 1;
}

nav li {
    list-style: none;
    white-space: nowrap;
    font-weight: bold;
    text-align: left;
}

#home {
    text-align: center;
}

main {
    padding: 1%;
    margin-left: 2%;
}
