html, body {
    height: 96%;
}

body {
    display: flex;
    padding: 2%;
}

nav {
    flex-shrink: 0;
    padding: 1%;
}

nav li {
    padding: 6%;
    margin-bottom: 20%;
    list-style: none;
    font-weight: bold;
    width: 100%;
    text-align: left;
}

#home {
    margin-bottom: 40%;
    text-align: center;
}

main {
    flex-grow: 1;
    padding: 1%;
    margin-left: 1%;
}
