body {
    background: #303030;
}

nav, nav a {
    background: #101010;
    color: #f0f0f0;
}

.current::after {
    content: ' <';
    font-weight: bolder;
}

main {
    background: #a0a0a0;
}

nav, main {
    box-shadow: 0.5rem 0.5rem 0.5rem #000000;
}
