body {
    background: #303030;
}

nav {
    background: #101010;
    color: #f0f0f0;
}

nav li {
    background: #303030;
}

nav li a {
    text-decoration: none;
    color: #ffffff;
}

.current {
    background-color: #a0a0a0;
}

.current a {
    color: #000000;
}

main {
    color: #000000;
    background: #a0a0a0;
}

nav, main {
    box-shadow: 0.5rem 0.5rem 0.5rem #000000;
}
